
#cadastroNumero{
    -fx-text-fill: "Green";
}

#CadastroCaracters{
    -fx-text-fill: "Green";
}

#cadastroLow{
    -fx-text-fill: "Green";
}

#cadastroUp{
    -fx-text-fill: "Green";
}
